{% set env_config = salt.grains.filter_by(
    {
        'default': {
            'mysql_host': 'localhost',
            'hibernate': {
                'mysql_user': 'hib_user'
            },
            'jackrabbit': {
                'mysql_user': 'jcr_user'
            },
            'j_opts': '"-Djava.awt.headless=true -Xmx8192m -XX:-HeapDumpOnOutOfMemoryError -XX:MaxPermSize=256m -Dsun.net.inetaddr.ttl=30 -Dsun.rmi.dgc.client.gcInterval=3600000 -Dsun.rmi.dgc.server.gcInterval=3600000"',
            'current_version': '8.1.0.0',
            'install_loc': '/opt/pentaho',
            'versions': {
                '8.1.0.0': {
                    'pdd-plugin.zip': {
                         'hash': 'sha256=7a24341260e51ce8d08481de52e5773cab6c63854f860571ec7d8c7fafdf0d6d',
                         'unzip_loc': 'pentaho/server/pentaho-server/pentaho-solutions/system',
                         'source_loc': 'pdd-plugin.zip'
                    },
                    'pir-plugin.zip': {
                         'hash': 'sha256=23485cc9ca2c9ceed4d938ab883d4f6d10e6f919457bf2ca1d290ab41a375cee',
                         'unzip_loc': 'pentaho/server/pentaho-server/pentaho-solutions/system',
                         'source_loc': 'pir-plugin.zip'
                    },
                    'paz-plugin.zip': {
                         'hash': 'sha256=9ad8088314fdd0caeeb3027aaa17926879befa22ed92ee992bff02cc14b683b1',
                         'unzip_loc': 'pentaho/server/pentaho-server/pentaho-solutions/system',
                         'source_loc': 'paz-plugin.zip'
                    },
                    'license-installer.zip': {
                         'hash': 'sha256=45acc044d7989a339473b77ce43b591b024ead7459dafc3b4da3ed879e958435',
                         'unzip_loc': 'pentaho/server',	
                         'source_loc': 'manualserver/license-installer.zip'
                    },
                    'jdbc-distribution-utility.zip': {
                         'hash': 'sha256=6be7558953706a62fc9b8aa465d822408e432b562c29b197d1e3578f2465f901',
                         'unzip_loc': 'pentaho/server',
                         'source_loc': 'manualserver/jdbc-distribution-utility.zip'
                    },
                    'pentaho-data.zip': {
                         'hash': 'sha256=add012dce66888df9ec4d7a4b981f12d5458b9ee71d6bb5907b62e449edcdc30',
                         'unzip_loc': 'pentaho/server/pentaho-server',
                         'source_loc': 'manualserver/pentaho-data.zip'
                    },
                    'pentaho-solutions.zip': {
                         'hash': 'sha256=3ba4805abb720e0e415e07b6c52e374065209bf3a95912a835ffe66f8681d77d',
                         'unzip_loc': 'pentaho/server/pentaho-server',
                         'source_loc': 'manualserver/pentaho-solutions.zip'
                    },
                    'pentaho.war': {
                         'hash': 'sha256=f552a5814c8f9c379c3ad40b706352b73a368b26d9b2f87f8e5af64877e8c271',
                         'source_loc': 'manualserver/pentaho.war'
                    }
                    'pentaho-style.war': {
                         'hash': 'sha256=ea5ead9016c0f650dfebf871e1bb6658db5d774fa0e2a29466d5b29b10978b5b',
                         'source_loc': 'manualserver/pentaho-style.war'
                    }
               }
              }
            },
        'vagrant': {
        },
        'dev': {
               'current_version': '8.1.0.0',
               'mysql_host': 'db-pentaho-201.soma.plos.org',
        },
        'prod': {
               'current_version': '8.1.0.0',
               'mysql_host': 'db-pentaho-101.soma.plos.org',
        }
    }, grain='environment', base='default'
) %}
